<ion-header>
  <ion-toolbar>
    <ion-title>employeeTable</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-row>
        <ion-col size="2">
          <ion-button (click)="gotoAddPage()">เพิ่ม</ion-button>
        </ion-col>
      </ion-row>
      <ion-card>
        <ion-grid>
          <ion-row class="ion-text-center">
            <ion-col>รหัสพนักงาน</ion-col>
            <ion-col>ชื่อพนักงาน</ion-col>
            <ion-col>เบอร์โทร</ion-col>
            <ion-col>ตำแหน่ง</ion-col>
            <ion-col>ดูข้อมูล</ion-col>

          </ion-row>

          <ion-row class="ion-text-center" *ngFor="let d of data1">
            <ion-col>{{d.empId}}</ion-col>
            <ion-col>{{d.empFullName}}</ion-col>
            <ion-col>{{d.empTel}}</ion-col>
            <ion-col>{{d.empAddress}}</ion-col>
            <ion-col>
              <ion-button (click)="gotoDetail(d.empId)">ดู</ion-button>
              <ion-button (click)="gotoEdit(d.empId)">แก้ไข</ion-button>

            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>